# Existing rules
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.repage.be [NC]
RewriteRule ^(.*)$ http://repage.be/$1 [L,R=301]
DirectoryIndex index.html

# Cache static assets for 1 year
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
</IfModule>
