body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  align-self: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 500;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:active, a:focus, a:hover {
  opacity: 0.6;
}

.page-wrapper {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100dvh;
  position: relative;
  background-image: url('images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.logo {
  cursor: default;
  position: absolute;
  top: 3rem;
}

footer {
  align-items: center;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  position: absolute;
}

@media (min-width: 480px) {
  h2 {
    font-size: 3rem;
  }
  
  footer {
    flex-direction: row;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .page-wrapper {
    padding: 2rem;
    border-radius: 24px;
    margin: 1rem;
    width: calc(100% - 2rem);
    height: calc(100dvh - 2rem);
  }
}